<h1>Who we are and what we stand for</h1>

<p>JASON PLEASE GIVE ME YOUR MOM'S CREDIT CARD DETAILS SO I CAN GET MY SKIN BACK FOR MY FORNITE AVATAR</p>

<img src="https://media.giphy.com/media/uNQl4edRHTSeI/giphy.gif" alt="">
